@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-brand-black transition-colors duration-200;
  -webkit-tap-highlight-color: transparent;
}

/* Скрываем скроллбар для красоты */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}