@tailwind base;
@tailwind components;
@tailwind utilities;

/* Принудительно задаем фоны, чтобы перебить настройки Telegram */
html, body {
  @apply bg-white dark:bg-gray-950 transition-colors duration-200;
  /* Сбрасываем цвета от Telegram */
  background-color: unset !important;
  color: unset !important;
}